:root {
    --primary: rgb(135 116 225);
    --secondary : red;
    --text: rgb(255 255 255);
    --subtext:rgb(170 170 170);
    --bg: rgb(33 33 33);
    --bg2: rgb(24, 24, 24);
    --shadow: rgba(0, 0, 0, 0.15);
    --hover: #2b2b2b;
}

